body {
  /* background-color: white; */
  font-family: "Plus Jakarta Sans", sans-serif !important;
  /* font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/*  Navbar styles  */
.navbar {
  height: 5rem;
  background-color: #fff;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* footer  */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1rem;
  margin-right: 1rem;
}

.f-info {
  display: flex;
  text-align: center;
  height: 6rem;
  background: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards  */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 0.3rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0rem !important;
}

.card-text {
  font-weight: 400 !important;
}

/* Listing links  */
.listing-link {
  text-decoration: none;
}

/* Card Effect    */
.card-img-overlay {
  opacity: 0;
}

/* .listing-image-containery:hover .card-img-overlay {
    opacity: 0.5;
    background-color: #af2525;
} */

.listing-image-container {
  position: relative;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #443d3d;
  transition: opacity 0.3s ease;
}

.listing-image-container:hover .card-img-overlay {
  opacity: 0.15;
}

/* New Page  */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit Page  */
.update-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Page  */
.show-img {
  height: 30vh;
  /* object-fit: cover; */
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Map styling  */
#map {
  height: 350px;
  width: 70vh;
}
